*.trx
/publish/web
/src/doc-stack-app-api/bin/Debug/netcoreapp1.0
/src/doc-stack-app-api/obj/Debug/netcoreapp1.0
/src/doc-stack-app-api/bin/release/netcoreapp1.0
/src/doc-stack-app-api/obj/release/netcoreapp1.0
/.vs/doc-stack-app-api/v14/.suo
/test/doc-stack-app-api.tests/bin
/test/doc-stack-app-api.tests/obj
/test/doc-stack-app-api.tests/doc-stack-app-api.tests.xproj
/test/doc-stack-app-api.tests/doc-stack-app-api.tests.xproj.user
/src/doc-stack-app-api/bin/Debug/netcoreapp1.1
/src/doc-stack-app-api/obj/Debug/netcoreapp1.1
/.vs/restore.dg
/src/doc-stack-app-api/project.lock.json
/test/doc-stack-app-api.tests/project.lock.json
/src/doc-stack-app-api/bin/release/netcoreapp1.1
/src/doc-stack-app-api/obj/release/netcoreapp1.1
/testresults/out.xml
/UpgradeLog.htm
/src/doc-stack-app-api/obj
