/publish/web
/src/doc-stack-app-api/bin/Debug/netcoreapp1.0
/src/doc-stack-app-api/obj/Debug/netcoreapp1.0
/src/doc-stack-app-api/bin/release/netcoreapp1.0
/src/doc-stack-app-api/obj/release/netcoreapp1.0
